/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/.umi
/.umi-production
/.umi-test
/dist
/.mfsu
.swc
.git

/examples/app1/node_modules
/examples/app2/node_modules
/examples/app3/node_modules
/examples/master/node_modules
.idea
.vscode